We have a list of artist names identified with a unique key in one dataset.

We have a dataset of with many more artists. We want to identify the subset of artists in this dataset that are also in the dataset above. Yet there may be some variation in name spelling.

We will use 'fuzzywuzzy' to do some fuzzy string matching.

In [1]:
import pandas as pd
UKData = pd.read_csv("Other_files/ClaireDupin_Data.csv", sep=';')
SalonData = pd.read_csv("Other_files/Salons1848-1880_Data.csv" , sep=';')

In [74]:
UKData.head()

   UK_Omeka        dcterms:creator                   dcterms:abstract
0        33      Achenbach, Oswald  Düsseldorf, 1827-Düsseldorf, 1905
1        34      Adan, Louis-Émile                Paris, 1839-?, 1937
2        35  Alma Tadema, Lawrence             Dronrijp, 1836-?, 1902
3        36      Anastasi, Auguste            Paris, 1820-Paris, 1889
4        37          Anker, Albert             Anet, 1831-Berne, 1910

In [75]:
SalonData.head()

,Exposant,Titre,Année,Salon
0,"Aarestrup, Mlle Marie","Portrait de Mlle Nilsson, artiste du Théâtre-L...",1866,Salon de 1866
1,"Aaron, Michel-Joseph",*Giroflées,1878,Salon de 1878
2,"Abbat, Auguste",Pauvre hirondelle,1880,Salon de 1880
3,"Abbema, Mlle Louise",*La duchesse Josiane,1875,Salon de 1875
4,"Abbema, Mlle Louise",*Le déjeûner dans la serre,1877,Salon de 1877

We would like to find the artists in the SalonData file that are also present in the file above, and assign them the corresponding unique key.  First, we'll create a column for this unique key. We'll also create a column to store the matched text.

In [2]:
SalonData['UniqueKey']=''

In [3]:
SalonData['Match']=''

In [4]:
SalonData['Certainty']=''

In [153]:
SalonData.head()

,Exposant,Titre,Année,Salon,UniqueKey,Match,Certainty
0,"Aarestrup, Mlle Marie","Portrait de Mlle Nilsson, artiste du Théâtre-L...",1866,Salon de 1866,,,
1,"Aaron, Michel-Joseph",*Giroflées,1878,Salon de 1878,,,
2,"Abbat, Auguste",Pauvre hirondelle,1880,Salon de 1880,,,
3,"Abbema, Mlle Louise",*La duchesse Josiane,1875,Salon de 1875,,,
4,"Abbema, Mlle Louise",*Le déjeûner dans la serre,1877,Salon de 1877,,,

From the other data set, we will create a unique list of UniqueKey- Name pairs:

In [60]:
UKDict = {}
NameDict ={}

for index, row in UKData.iterrows():
    a = row['UK_Omeka']
    if a not in UKDict:
        b= row['dcterms:creator']
        UKDict.update({a:b}) 
        NameDict.update({b:a})

In [76]:
print(UKDict)

{33: 'Achenbach, Oswald', 34: 'Adan, Louis-Émile', 35: 'Alma Tadema, Lawrence', 36: 'Anastasi, Auguste', 37: 'Anker, Albert', 38: 'Antigna, Alexandre', 39: 'Appian, Adolphe', 40: 'Armand-Dumaresq, Édouard', 41: 'Aubert, Jean', 42: 'Aublet, Albert', 43: 'Auguin, Louis-Auguste', 44: 'Aze, Adolphe', 45: 'Baader, Louis-Marie', 46: 'Badin, Jules', 47: 'Ballavoine, Jules', 48: 'Balleroy, Albert de', 49: 'Balze, Paul', 50: 'Barillot, Léon', 51: 'Barrias, Félix', 52: 'Bastien-Lepage, Jules', 53: 'Baudit, Amédée', 54: 'Baudry, Paul', 55: 'Beaucé, Jean-Adolphe', 56: 'Beaulieu, Anatole de', 57: 'Beaumetz, Étienne', 58: 'Beaumont, Édouard de', 59: 'Beauverie, Charles', 60: 'Becker, Georges', 61: 'Bellanger, Camille', 62: 'Bellay, Charles-Paul', 63: 'Belly, Léon', 64: 'Benner, Jean', 65: 'Bénouville, François-Léon', 66: 'Berchère, Narcisse', 67: 'Bergeret, Denis', 68: 'Berne-Bellecour, Étienne', 69: 'Bernier, Camille', 70: 'Berthon, Nicolas', 71: 'Bertrand, James', 72: 'Besnard, Louise', 73: 'Besnard, Albert', 74: 'Betsellère, Émile', 75: 'Bezard, Jean-Louis', 76: 'Biennourry, Victor', 77: 'Billet, Pierre', 78: 'Bin, Émile', 79: 'Blanc, Joseph', 80: 'Blanchard, Édouard-Théophile', 81: 'Blin, Francis', 82: 'Bodmer, Karl', 83: 'Böhn, Germann von', 84: 'Bompard, Maurice', 85: 'Bonheur, Auguste', 86: 'Bonnat, Léon', 87: 'Bonnefoy, Henry', 88: 'Bonvin, François', 89: 'Bouguereau, William', 90: 'Boulangé, Louis', 91: 'Boulanger, Gustave', 92: 'Bourgeois, Urbain', 93: 'Boutet de Monvel, Louis-Maurice', 94: 'Bouvier, Laurent', 95: 'Bracquemond, Félix', 96: 'Bramtot, Alfred-Henri', 97: 'Brandon, Édouard', 98: 'Bremond, Jean', 99: 'Brendel, Albert', 100: 'Brest, Fabius', 101: 'Breton, Jules', 102: 'Breton, Émile', 103: 'Bridgmann, Frederick-Arthur', 104: 'Briguiboul, Marcel', 105: 'Brillouin, Louis-Georges', 106: 'Brion, Gustave', 107: 'Brown, John-Lewis', 108: 'Browne, Henriette', 109: 'Brozik, Vaclav', 110: 'Brun, Charles', 111: 'Busson, Charles', 112: 'Butin, Ulysse', 113: 'Cabanel, Alexandre', 114: 'Cabanel, Pierre', 115: 'Cambon, Armand', 116: 'Camino, Charles', 117: 'Caraud, Joseph', 118: 'Carteron, Eugène', 119: 'Castres, Édouard', 120: 'Cazes, Romain', 121: 'Cellier, Paul', 122: 'Čermák, Jaroslav', 123: 'Chabry, Léonce', 124: 'Chaplin, Charles', 125: 'Charnay, Armand', 126: 'Charpentier, Eugène-Louis', 127: 'Chartran, Théobald', 128: 'Chavet, Victor', 129: 'Chazal, Charles-Camille', 130: 'Chenu, Fleury', 131: 'Chevandier de Valdrôme, Paul', 132: 'Chintreuil, Antoine', 133: 'Cibot, Édouard', 134: 'Cicéri, Eugène', 135: 'Claude, Jean-Maxime', 136: 'Clément, Félix', 137: 'Cock, Xavier de', 138: 'Cock, César de', 139: 'Coëssin de la Fosse, Charles-Alexandre', 140: 'Cogen, Félix', 141: 'Colas, Alphonse', 142: 'Colin, Paul', 143: 'Collart, Marie', 144: 'Collin, Raphaël', 145: 'Comerre, Léon', 146: 'Compte-Calix, François-Claudius', 147: 'Comte, Charles', 148: 'Coninck, Pierre de', 149: 'Constant, Benjamin', 150: 'Cormon, Fernand', 151: 'Cot, Pierre-Auguste', 152: 'Courant, Maurice', 153: 'Courbet, Gustave', 154: 'Charlot de Courcy, Alexandre-Frédéric de', 155: 'Courtat, Louis', 156: 'Courtois, Gustave', 157: 'Couturier, Philibert-Léon', 158: 'Curzon, Alfred de', 159: 'Dagnan-Bouveret, Pascal-Adolphe-Jean', 160: 'Daliphard, Édouard', 161: 'Dameron, Émile', 162: 'Damoye, Emmanuel', 163: 'Dantan, Édouard', 164: 'Dargelas, Henri', 165: 'Dauban, Jules-Joseph', 166: 'Daubigny, Charles-François', 167: 'Daubigny, Karl', 168: 'Dawant, Albert-Pierre', 169: 'La Boulaye, Paul de', 170: 'Nittis, Giuseppe de', 171: 'Defaux, Alexandre', 172: 'Dehodencq, Alfred', 173: 'Jonghe, Gustave de', 174: 'Delacroix, Henri-Eugène', 175: 'Delanoy, Hippolyte', 176: 'Delaunay, Jules', 177: 'Delobbe, Alfred', 178: 'Delort, Charles', 179: 'Demont, Adrien-Louis', 180: 'Neuville, Alphonse de', 181: 'Denneulin, Jules', 182: 'Deschamps, Louis', 183: 'Desgoffe, Blaise', 184: 'Desjobert, Louis-Eugène', 185: 'Desportes de la Fosse, Emma', 186: 'Destrem, Casimir', 187: 'Detaille, Édouard', 188: 'Devers, Joseph', 189: 'Devilly, Théodore', 190: 'Didier, Jules', 191: 'Doucet, Lucien', 192: 'Douillard, Alexis-Marie-Louis', 193: 'Dubasty, Adolphe-Henri', 194: 'Dubois, Paul', 195: 'Dubufe, Guillaume', 196: 'Duez, Ernest-Ange', 197: 'Dumas, Michel', 198: 'Dupain, Edmond', 199: 'Dupray, Henry-Louis', 200: 'Dupré, Victor', 201: 'Dupré, Julien', 202: 'Duran, Carolus', 203: 'Duran, Pauline', 204: 'Durand, Simon', 205: 'Duveau, Louis', 206: 'Duverger, Théophile-Emmanuel', 207: 'Edelfelt, Albert', 208: 'Ehrmann, François', 209: 'Escallier, Éléonore', 210: 'Faivre, Tony', 211: 'Faivre-Duffer, Louis', 212: 'Falguière, Alexandre', 213: 'Fantin-Latour, Henri', 214: 'Faruffini, Federico', 215: 'Faure, Eugène', 216: 'Favard, Antoine', 217: 'Ferrier, Gabriel', 218: 'Feyen, Eugène', 219: 'Feyen-Perrin, Augustin', 220: 'Fichel, Eugène', 221: 'Flahaut, Léon', 222: 'Flameng, François', 223: 'Fontaine, Edmé-Adolphe', 224: 'Fontenay, Alexis-Daligé de', 225: 'Fortin, Charles', 226: 'Foubert, Émile-Louis', 227: 'Foulongne, Alfred-Charles', 228: 'Frère, Édouard', 229: 'Frère, Théodore', 230: 'Fritel, Pierre', 231: 'Fromentin, Eugène', 232: 'Gaillard, Ferdinand', 233: 'Galbrund, Alphonse\r\nRésultats Web\r\n\r\nAlphonse-Louis', 234: 'Gautier, Étienne', 235: 'Gavarni, Pierre', 236: 'Geffroy, Edmond', 237: 'Gélibert, Jules', 238: 'Gendron, Auguste', 239: 'Genty, Emmanuel', 240: 'Georges-Sauvage, Auguste-Albert', 241: 'Gérôme, Jean-Léon', 242: 'Gervex, Henri', 243: 'Giacomotti, Félix', 244: 'Gide, Théophile', 245: 'Gilbert, Victor', 246: 'Ginain, Eugène', 247: 'Girard, Firmin', 248: 'Giraud, Victor', 249: 'Giron, Charles', 250: 'Gisbert, Antonio', 251: 'Glaize, Léon', 252: 'Gonzalèz, Juan-Antonio', 253: 'Gosselin, Charles', 254: 'Goubie, Jean-Richard', 255: 'Goupil, Jules', 256: 'Gratia, Charles-Louis', 257: 'Groiseilliez, Marcelin de', 258: 'Gros, Lucien', 259: 'Guay, Gabriel', 260: 'Gude, Hans Frederik', 261: 'Guérin, Jean-Michel-Prosper', 262: 'Guesnet, Louis', 263: 'Guillaumet, Gustave', 264: 'Guillemet, Antoine', 265: 'Guillemin, Alexandre', 266: 'Guillon, Adolphe', 267: 'Guillou, Alfred', 268: 'Haffner, Félix', 269: 'Hagborg, August', 270: 'Hamman, Édouard', 271: 'Hamon, Jean-Louis', 272: 'Hanoteau, Hector', 273: 'Haquette, Georges', 274: 'Hareux, Ernest-Victor', 275: 'Harpignies, Henri', 276: 'Hébert, Ernest', 277: 'Hédouin, Edmond', 278: 'Heilbuth, Ferdinand', 279: 'Henneberg, Rudolf', 280: 'Hennebicq, André', 281: 'Henner, Jean-Jacques', 282: 'Héreau, Jules', 283: 'Hermann-Léon, Charles', 284: 'Herpin, Léon', 285: 'Hillemacher, Ernest', 286: 'Hugrel, Pierre-Honoré', 287: 'Huguet, Victor-Pierre', 288: 'Humbert, Ferdinand', 289: 'Imer, Édouard', 290: 'Jacque, Charles-Émile', 291: 'Jacquemart, Nélie', 292: 'Jacquet, Gustave', 293: 'Jalabert, Charles', 294: 'Janet, Ange-Louis', 295: 'Janmot, Louis', 296: 'Japy, Louis', 297: 'Jeannin, Georges', 298: 'Jobbé-Duval, Félix', 299: 'Jongkind, Johan Barthold', 300: 'Jourdan, Adolphe', 301: 'Jourdain, Roger', 302: 'Jundt, Gustave', 303: 'Kaemmerer, Hendrick', 304: 'Klagmann, Henri', 305: 'Knaus, Ludwig', 306: 'Knyff, Alfred de', 307: 'Kreyder, Alexis', 308: 'Krug, Édouard', 309: 'Kuwasseg, Karl-Josef', 310: 'La Villette, Élodie', 311: 'Laemlein, Alexandre', 312: 'Lafond, Alexandre', 313: 'Lalanne, Maxime', 314: 'Lambert, Louis-Eugène', 315: 'Lambinet, Émile', 316: 'Lamothe, Louis', 317: 'Lanoüe, Félix-Hippolyte', 318: 'Lansyer, Emmanuel', 319: 'Lapierre, Louis-Émile', 320: 'Lapostolet, Charles', 321: 'Larcher, Jules', 322: 'Laugée, Désiré-François', 323: 'Laurens, Jules-Joseph-Augustin', 324: 'Laurens, Jean-Paul', 325: 'Lavieille, Eugène', 326: 'Layraud, Joseph-Fortuné', 327: 'Lazerges, Hippolyte', 328: 'Le Blant, Julien', 329: 'Le Gentile, Victor', 330: 'Lebel, Edmond', 331: 'Lecadre, Alphonse-Eugène-Félix', 332: 'Lechevallier-Chevignard, Edmond', 333: 'Leclaire, Victor', 334: 'Lecointe, Charles-Joseph', 335: 'Lecomte-Vernet, Émile', 336: 'Lecomte du Nouy, Jean-Antoine', 337: 'Lefebvre, Jules', 338: 'Legras, Auguste', 339: 'Legros, Alphonse', 340: 'Lehoux, Pierre-Adrien-Pascal', 341: 'Leibl, Wilhelm', 342: 'Leighton, Frédéric', 343: 'Leleux, Armand', 344: 'Leleux, Adolphe', 345: 'Leloir, Louis', 346: 'Leloir, Maurice', 347: 'Lematte, Fernand', 348: 'Lenepveu, Jules-Eugène', 349: 'Lepec, Charles', 350: 'Lepic, Ludovic-Napoléon', 351: 'Lerolle, Henri', 352: 'Leroux, Charles', 353: 'Leroux, Hector', 354: 'Leroux, Eugène', 355: 'Lévy, Émile', 356: 'Lévy, Henri-Léopold', 357: 'Lhermitte, Léon', 358: 'Lix, Frédéric-Théodore', 359: 'Lobin, Julien-Léopold', 360: 'Lobrichon, Timoléon', 361: 'Loir, Luigi', 362: 'Lottier, Louis', 363: 'Luminais, Évariste', 364: 'Machard, Jules', 365: 'Madarasz, Viktor von', 366: 'Magaud, Dominique-Antoine', 367: 'Maignan, Albert', 368: 'Maillart, Diogène-Ulysse-Napoléon', 369: 'Maillot, Théodore', 370: 'Maisiat, Johanny', 371: 'Maison, Pierre-Eugène', 372: 'Marais, Adolphe', 373: 'Marchal, Charles', 374: 'Maréchal, Charles-Raphaël', 375: 'Marquis, Pierre-Charles', 376: 'Marzocchi de Bellucci, Tito', 377: 'Masuré, Jules', 378: 'Matejko, Jan', 379: 'Mathey, Paul', 380: 'Matout, Louis', 381: 'Mazerolle, Joseph', 382: 'Médard, Eugène', 383: 'Meissonier, Charles', 384: 'Melin, Joseph', 385: 'Mélingue, Lucien', 386: 'Mengin, Auguste-Charles', 387: 'Mercadé Fàbrega, Benito', 388: 'Merino, Ignacio', 389: 'Merle, Hugues', 390: 'Merson, Luc-Olivier', 391: 'Méry, Alfred-Émile', 392: 'Mesdag, Hendrick-Willem', 393: 'Meyer, Alfred', 394: 'Meyerheim, Paul', 395: 'Meynier, Jules-Joseph', 396: 'Michel, Charles-Henri', 397: 'Michel, Émile', 398: 'Michel, Ernest', 399: 'Millet, Jean-François', 400: 'Mols, Robert', 401: 'Monchablon, Alphonse', 402: 'Monginot, Charles', 403: 'Montessuy, François', 404: 'Montfort, Antoine-Alphonse', 405: 'Monvoisin, Domenica', 406: 'Moreau, Gustave', 407: 'Moreau, Adrien', 408: 'Moreau de Tours, Georges', 409: 'Morin, Eugénie', 410: 'Morot, Aimé', 411: 'Mortemart-Boisse, Enguerrand de', 412: 'Motte, Henri-Paul', 413: 'Mouchot, Louis', 414: 'Mouillon, Alfred', 415: 'Munkacsy, Mihaly', 416: 'Muraton, Alphonse', 417: 'Muraton, Euphémie', 418: 'Mussini, Luigi', 419: 'Navlet, Victor', 420: 'Nazon, François-Henri', 421: 'Nègre, Charles', 422: 'Némoz, Jean-Baptiste-Augustin', 423: 'Noël, Jules', 424: 'Olivié, Léon', 425: 'Ordinaire, Marcel', 426: 'Pabst, Alfred', 427: 'Paris, Camille', 428: 'Parrot, Philippe', 429: 'Pasini, Alberto', 430: 'Passini, Ludwig', 431: 'Patrois, Isidore', 432: 'Pelez, Fernand', 433: 'Pelouse, Léon-Germain', 434: 'Penne, Olivier de', 435: 'Péraire, Emmanuel', 436: 'Pelez de Cordova, Fernand', 437: 'Perrault, Léon', 438: 'Perret, Aimé', 439: 'Petit, Savinien', 440: 'Petit, Eugène', 441: 'Pichon, Pierre-Auguste', 442: 'Picou, Henri', 443: 'Pille, Charles-Henri', 444: 'Pils, Isidore', 445: 'Plassan, Antoine', 446: 'Pluyette, Auguste-Victor', 447: 'Pointelin, Auguste', 448: 'Poirson, Maurice', 449: 'Poncet, Jean-Baptiste', 450: 'Debat-Ponsan, Édouard-Bernard', 451: 'Popelin, Claudius', 452: 'Bonaparte, Princesse Mathilde', 453: 'Priou, Louis', 454: 'Pron, Louis-Hector', 455: 'Protais, Alexandre', 456: 'Puvis de Chavannes, Pierre', 457: 'Quantin, Jules', 458: 'Quost, Ernest', 459: 'Ranvier, Victor', 460: 'Rapin, Alexandre', 461: 'Ravaut, René-Henri', 462: 'Régamey, Guillaume', 463: 'Regnault, Henri', 464: 'Reignier, Jean', 465: 'Renard, Émile', 466: 'Renouf, Émile', 467: 'Reynaud, François', 468: 'Ribot, Théodule', 469: 'Ricard, Gustave', 470: 'Richomme, Jules', 471: 'Richter, Gustav', 472: 'Riesener, Léon', 473: 'Rigo, Jules', 474: 'Rivey, Arsène', 475: 'Rivoulon, Antoine', 476: 'Rixens, Jean-André', 477: 'Robert, Léo-Paul', 478: 'Robert-Fleury, Tony', 479: 'Robie, Jean', 480: 'Robinet, Paul', 481: 'Roche, Alexandre', 482: 'Roehn, Alphonse-Jean', 483: 'Rodakowski, Henryk', 484: 'Rodriguez Barcaza, Ramón', 485: 'Roll, Alfred', 486: 'Romagny, Charles-Ernest', 487: 'Ronot, Charles', 488: 'Rosier, Amédée', 489: 'Rouffio, Paul', 490: 'Rougeron, Jules-James', 491: 'Rousseau, Théodore', 492: 'Roux, Louis', 493: 'Roybet, Ferdinand', 494: 'Rozier, Dominique', 495: 'Saal, Georg', 496: 'Sain, Édouard', 497: 'Saintin, Jules', 498: 'Saint-Pierre, Gaston', 499: 'Salmson, Hugo', 500: 'Sarazin de Belmont, Louise-Joséphine', 501: 'Sautai, Paul-Émile', 502: 'Schenck, August', 503: 'Schneider, Félicie', 504: 'Schreyer, Adolf', 505: 'Schutzenberger, Louis', 506: 'Ségé, Alexandre', 507: 'Sellier, Charles', 508: 'Servin, Amédée', 509: 'Sohn, Wilhelm', 510: 'Sorieul, Jean', 511: 'Soyer, Paul', 512: 'Stevens, Joseph', 513: 'Stevens, Alfred', 514: 'Sturel, Octavie', 515: 'Sylvestre, Joseph', 516: 'Tabar, Léopold', 517: 'Tassaert, Octave', 518: 'Thévenin, Rosalie', 519: 'Thirion, Eugène', 520: 'Timbal, Louis-Charles', 521: 'Tissier, Ange', 522: 'Tissot, James', 523: 'Torrents, Stanislas', 524: 'Toudouze, Édouard', 525: 'Toulmouche, Auguste', 526: 'Tourny, Joseph', 527: 'Trayer, Jean-Baptiste-Jules', 528: 'Ulmann, Benjamin', 529: 'Valadon, Jules-Emmanuel', 530: 'Haanen, Cecil-Charles van', 531: 'Van Hove, Victor', 532: 'Marcke, Émile van', 533: 'Moer, Jean-Baptiste van', 534: 'Muyden, Alfred van', 535: 'Vannutelli, Scipione', 536: 'Vauchelet, Théophile', 537: 'Vautier, Benjamin', 538: 'Vayson, Paul', 539: 'Vély, Anatole', 540: 'Verlat, Charles', 541: 'Vernier, Émile-Louis', 542: 'Verwée, Alfred', 543: 'Veyrassat, Jules Jacques', 544: 'Vibert, Jehan-Georges', 545: 'Vignon, Jules', 546: 'Viollet-le-Duc, Adolphe-Étienne', 547: 'Voillemot, Charles', 548: 'Vollon, Antoine', 549: 'Heyden, August von', 550: 'Thoren, Otto von', 551: 'Vuillefroy, Félix de', 552: 'Wagrez, Jacques', 553: 'Wahlberg, Alfred', 554: 'Watelin, Louis-Victor', 555: 'Wauters, Émile', 556: 'Weber, Otto', 557: 'Weber, Adolphe', 558: 'Weerts, Jean-Joseph', 559: 'Weisz, Adolphe', 560: 'Wencker, Joseph', 561: 'Winne, Liévin de', 562: 'Worms, Jules', 563: 'Wylie, Robert', 564: 'Yon, Edmond', 565: 'Yvon, Adolphe', 566: 'Zac, Tony', 567: 'Zamacois, Eduardo', 568: 'Ziem, Félix', 569: 'Zo, Achille', 570: 'Zuber, Jean-Henri', 571: 'Achard, Jean-Alexis', 572: 'Apoil, Estelle', 573: 'Baron, Henri', 574: 'Béranger, Jean-Baptiste', 575: 'Herbelin, Mathilde', 576: 'Bianchi, Nina', 577: 'Biard, François-Auguste', 578: 'Bida, Alexandre', 579: 'Bonheur, Rosa', 580: 'Bouquet, Michel', 581: 'Brune, Adolphe', 582: 'Buttura, Eugène-Ferdinand', 583: 'Chacaton, Henri de', 584: 'Coignard, Louis', 585: 'Coignet, Jules', 586: 'Corot, Camille', 587: 'Dauzats, Adrien', 588: 'David, Maxime', 589: 'Dedreux, Alfred', 590: 'Debon, Hippolyte', 591: 'Delacroix, Eugène', 592: 'Desgoffe, Alexandre', 593: 'Díaz de la Peña, Narcisse', 594: 'Dien, Claude-Marie-François', 595: 'Duvaux, Antoine-Jules', 596: 'Fauvelet, Jean', 597: 'Flandrin, Hippolyte', 598: 'Flandrin, Paul', 599: 'Français, François-Louis', 600: 'Gigoux, Jean', 601: 'Giroux, Achille', 602: 'Glaize, Auguste', 603: 'Grönland, Theude', 604: 'Gudin, Théodore', 605: 'Hesse, Alexandre', 606: 'Hildebrandt, Frédéric', 607: 'Hoguet, Charles', 608: 'Huet, Paul', 609: 'Jadin, Godefroy', 610: 'Johannot, Tony', 611: 'Joyant, Jules', 612: 'Lacroix, Gaspard', 613: 'Landelle, Charles', 614: 'Laurent, Marie Pauline', 615: 'Lepoittevin, Eugène', 616: 'Lehmann, Henri', 617: 'Longchamp, Henriette de', 618: 'Masquelier, Claude-Louis', 619: 'Meissonier, Ernest', 620: 'Morel-Fatio, Léon', 621: 'Müller, Charles Louis', 622: 'Nanteuil, Célestin', 623: 'Palizzi, Giuseppe', 624: 'Passot, Gabriel-Aristide', 625: "Penguilly-L'Haridon, Octave", 626: 'Pignerolle, Charles-Marcel de', 627: 'Pilliard, Jacques', 628: 'Place, Henri', 629: 'Pommayrac, Pierre-Paul de', 630: 'Richaud, Joseph', 631: 'Rousseau, Philippe', 632: 'Rudder, Louis-Henri de', 633: 'Sebron, Hippolyte', 634: 'Steinheil, Louis', 635: 'Thuillier, Pierre', 636: 'Troyon, Constant', 637: 'Verdier, Marcel', 638: 'Vetter, Hégésippe-Jean', 639: 'Ziegler, Jules', 640: 'Vidal, Vincent', 641: 'Robert, Victor', 642: 'Dubois, Hippolyte', 643: 'Cazin, Jean-Charles', 644: 'Bénouville, Achille', 645: 'Couder, Auguste', 646: 'Bellel, Jean-Joseph', 647: 'Mirbel, Lizinska de', 648: 'Gallait, Louis', 649: 'Guignet, Adrien', 650: 'Malathier, André', 651: 'Jadelot, Sophie'}

First, the easy stuff. We will match any names that are exactly the same.

In [199]:
for index, row in SalonData.iterrows():
    a= row['Exposant']
    if a in UKNameDict.keys():
        b= UKNameDict[a]
        SalonData.at[index,'UniqueKey'] = b
        SalonData.at[index,'Match'] = a
        SalonData.at[index,'Certainty'] = 100

In [185]:
SalonData.groupby(['Certainty']).count()

           Exposant  Titre  Année  Salon  UniqueKey  Match
Certainty
100            9056   9056   9056   9056       9056   9056
              56388  56388  56388  56388      56388  56388

Next, we import the FuzzyWuzzy module, a module for fuzzy string matching.

In [43]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [200]:
UKAdditions = {}

In [201]:
# First, search for exact match of updated list
for index, row in SalonData.iterrows():
    a= row['Exposant']
# If exact match does not exist, search for fuzzy match >90:
    if row['UniqueKey']=='': 
        for key, value in UKNameDict.items():
            if fuzz.token_sort_ratio(row['Exposant'],key) > 90:
                b= UKNameDict.get(key)
                SalonData.at[index,'UniqueKey'] = b
                SalonData.at[index,'Match'] = a 
                SalonData.at[index,'Certainty'] = 90
                UKAdditions.update({row['Exposant']:row['UniqueKey']})
                break
                    
# First, search for exact match of updated list
for index, row in SalonData.iterrows():
    a= row['Exposant']
    #Only in rows without a unique Key
    if row['UniqueKey']=='':   
        for key, value in UKNameDict.items():
            if fuzz.token_sort_ratio(row['Exposant'],key) > 80:
                b= UKNameDict.get(key)
                SalonData.at[index,'UniqueKey'] = b
                SalonData.at[index,'Match'] = a 
                SalonData.at[index,'Certainty'] = 80
                UKAdditions.update({row['Exposant']:row['UniqueKey']})
                break

# First, search for exact match of updated list
for index, row in SalonData.iterrows():
    a= row['Exposant']
    #Only in rows without a unique Key
    if row['UniqueKey']=='':
        for key, value in UKNameDict.items():
            if fuzz.token_sort_ratio(row['Exposant'],key) > 70:
                b= UKNameDict.get(key)
                SalonData.at[index,'UniqueKey'] = b
                SalonData.at[index,'Match'] = a 
                SalonData.at[index,'Certainty'] = 70
                UKAdditions.update({row['Exposant']:row['UniqueKey']})
                break

In [205]:
SalonData.groupby(['UniqueKey']).count()

           Exposant  Titre  Année  Salon  Match  Certainty
UniqueKey
33               26     26     26     26     26         26
34               80     80     80     80     80         80
35               14     14     14     14     14         14
36               64     64     64     64     64         64
37               91     91     91     91     91         91
...             ...    ...    ...    ...    ...        ...
648              49     49     49     49     49         49
649              19     19     19     19     19         19
650              11     11     11     11     11         11
651               3      3      3      3      3          3
              35874  35874  35874  35874  35874      35874

[613 rows x 6 columns]

In [223]:
UniqueMatches = SalonData.loc[SalonData['UniqueKey']!='',:]

In [224]:
UniqueMatches = UniqueMatches[['UniqueKey','Exposant','Certainty']]

In [226]:
UniqueMatches

      UniqueKey              Exposant Certainty
2            36        Abbat, Auguste        70
3            34   Abbema, Mlle Louise        70
4            34  Abbema, Mlle Louise         70
71          134        Accard, Eugène        70
102         134       Accard, Eugène         70
...         ...                   ...       ...
65317       367    Zimmermann, Albert        70
65344       569           Zo, Achille       100
65377       570     Zuber, Jean-Henri       100
65385       570    Zuber, Jean-Henri         90
65441        59    [W]auters, Charles        70

[4681 rows x 3 columns]

In [225]:
UniqueMatches = UniqueMatches.drop_duplicates()

In [248]:
Stringlist =pd.DataFrame(columns=['Key','ClaireName','Match','Certainty'])

for index,row in UniqueMatches.iterrows():
    c = UniqueMatches.loc[index,'Exposant']
    d = UniqueMatches.loc[index,'Certainty']
    b = int(UniqueMatches.loc[index,'UniqueKey'])
    for key, value in UKNameDict.items(): 
         if value == b: 
            a = key
            Stringlist=Stringlist.append({'Key':[b],'ClaireName':[a],'Match':[c],'Certainty':[d]}, ignore_index=True)

In [253]:
Stringlist.to_csv('MatchDictionary.csv',',')

In [252]:
Stringlist.sort_values('Certainty')

        Key           ClaireName                Match Certainty
0      [36]  [Anastasi, Auguste]     [Abbat, Auguste]      [70]
2792  [604]    [Gudin, Théodore]  [Lejeune, Théodore]      [70]
2793  [616]     [Lehmann, Henri]     [Leland, Henry ]      [70]
2794  [616]     [Lehmann, Henri]      [Leland, Henry]      [70]
2799  [178]    [Delort, Charles]  [Lelièvre, Charles]      [70]
...     ...                  ...                  ...       ...
1098  [155]     [Courtat, Louis]     [Courtat, Louis]     [100]
266    [60]    [Becker, Georges]    [Becker, Georges]     [100]
2986  [364]     [Machard, Jules]     [Machard, Jules]     [100]
4261  [511]        [Soyer, Paul]        [Soyer, Paul]     [100]
2220  [284]       [Herpin, Léon]       [Herpin, Léon]     [100]

[4681 rows x 4 columns]

In [ ]:
First round with family names, second round with given name

In [53]:
UKData2 = pd.read_csv("Other_files/ClaireDupin_Data.csv", sep=';')
SalonData2 = pd.read_csv("Other_files/Salons1848-1880_Data.csv" , sep=';')
SalonData2['UniqueKey']=''
SalonData2['Match']=''
SalonData2['Certainty']=''

In [62]:
UKData2.head()

   UK_Omeka        dcterms:creator                   dcterms:abstract
0        33      Achenbach, Oswald  Düsseldorf, 1827-Düsseldorf, 1905
1        34      Adan, Louis-Émile                Paris, 1839-?, 1937
2        35  Alma Tadema, Lawrence             Dronrijp, 1836-?, 1902
3        36      Anastasi, Auguste            Paris, 1820-Paris, 1889
4        37          Anker, Albert             Anet, 1831-Berne, 1910

In [63]:
SalonData2.head()

,Exposant,Titre,Année,Salon,UniqueKey,Match,Certainty
0,"Aarestrup, Mlle Marie","Portrait de Mlle Nilsson, artiste du Théâtre-L...",1866,Salon de 1866,,,
1,"Aaron, Michel-Joseph",*Giroflées,1878,Salon de 1878,,,
2,"Abbat, Auguste",Pauvre hirondelle,1880,Salon de 1880,,,
3,"Abbema, Mlle Louise",*La duchesse Josiane,1875,Salon de 1875,,,
4,"Abbema, Mlle Louise",*Le déjeûner dans la serre,1877,Salon de 1877,,,

In both datasets, let's split the columns into las name, first name

In [19]:
UKData2[['First','Last']] = UKData2['dcterms:creator'].str.split(",",expand=True)

In [20]:
UKData2.head()

,UK_Omeka,dcterms:creator,dcterms:abstract,First,Last
0,33,"Achenbach, Oswald","Düsseldorf, 1827-Düsseldorf, 1905",Achenbach,Oswald
1,34,"Adan, Louis-Émile","Paris, 1839-?, 1937",Adan,Louis-Émile
2,35,"Alma Tadema, Lawrence","Dronrijp, 1836-?, 1902",Alma Tadema,Lawrence
3,36,"Anastasi, Auguste","Paris, 1820-Paris, 1889",Anastasi,Auguste
4,37,"Anker, Albert","Anet, 1831-Berne, 1910",Anker,Albert

In [21]:
UKDict2 = {}

for index, row in UKData2.iterrows():
    a = row['UK_Omeka']
    if a not in UKDict2:
        b= row['First']
        c= row['Last']
        UKDict2.update({a:[b,c]})

In [80]:
UKDict2

{33: ['Achenbach', ' Oswald'],
 34: ['Adan', ' Louis-Émile'],
 35: ['Alma Tadema', ' Lawrence'],
 36: ['Anastasi', ' Auguste'],
 37: ['Anker', ' Albert'],
 38: ['Antigna', ' Alexandre'],
 39: ['Appian', ' Adolphe'],
 40: ['Armand-Dumaresq', ' Édouard'],
 41: ['Aubert', ' Jean'],
 42: ['Aublet', ' Albert'],
 43: ['Auguin', ' Louis-Auguste'],
 44: ['Aze', ' Adolphe'],
 45: ['Baader', ' Louis-Marie'],
 46: ['Badin', ' Jules'],
 47: ['Ballavoine', ' Jules'],
 48: ['Balleroy', ' Albert de'],
 49: ['Balze', ' Paul'],
 50: ['Barillot', ' Léon'],
 51: ['Barrias', ' Félix'],
 52: ['Bastien-Lepage', ' Jules'],
 53: ['Baudit', ' Amédée'],
 54: ['Baudry', ' Paul'],
 55: ['Beaucé', ' Jean-Adolphe'],
 56: ['Beaulieu', ' Anatole de'],
 57: ['Beaumetz', ' Étienne'],
 58: ['Beaumont', ' Édouard de'],
 59: ['Beauverie', ' Charles'],
 60: ['Becker', ' Georges'],
 61: ['Bellanger', ' Camille'],
 62: ['Bellay', ' Charles-Paul'],
 63: ['Belly', ' Léon'],
 64: ['Benner', ' Jean'],
 65: ['Bénouville', ' François-Léon'],
 66: ['Berchère', ' Narcisse'],
 67: ['Bergeret', ' Denis'],
 68: ['Berne-Bellecour', ' Étienne'],
 69: ['Bernier', ' Camille'],
 70: ['Berthon', ' Nicolas'],
 71: ['Bertrand', ' James'],
 72: ['Besnard', ' Louise'],
 73: ['Besnard', ' Albert'],
 74: ['Betsellère', ' Émile'],
 75: ['Bezard', ' Jean-Louis'],
 76: ['Biennourry', ' Victor'],
 77: ['Billet', ' Pierre'],
 78: ['Bin', ' Émile'],
 79: ['Blanc', ' Joseph'],
 80: ['Blanchard', ' Édouard-Théophile'],
 81: ['Blin', ' Francis'],
 82: ['Bodmer', ' Karl'],
 83: ['Böhn', ' Germann von'],
 84: ['Bompard', ' Maurice'],
 85: ['Bonheur', ' Auguste'],
 86: ['Bonnat', ' Léon'],
 87: ['Bonnefoy', ' Henry'],
 88: ['Bonvin', ' François'],
 89: ['Bouguereau', ' William'],
 90: ['Boulangé', ' Louis'],
 91: ['Boulanger', ' Gustave'],
 92: ['Bourgeois', ' Urbain'],
 93: ['Boutet de Monvel', ' Louis-Maurice'],
 94: ['Bouvier', ' Laurent'],
 95: ['Bracquemond', ' Félix'],
 96: ['Bramtot', ' Alfred-Henri'],
 97: ['Brandon', ' Édouard'],
 98: ['Bremond', ' Jean'],
 99: ['Brendel', ' Albert'],
 100: ['Brest', ' Fabius'],
 101: ['Breton', ' Jules'],
 102: ['Breton', ' Émile'],
 103: ['Bridgmann', ' Frederick-Arthur'],
 104: ['Briguiboul', ' Marcel'],
 105: ['Brillouin', ' Louis-Georges'],
 106: ['Brion', ' Gustave'],
 107: ['Brown', ' John-Lewis'],
 108: ['Browne', ' Henriette'],
 109: ['Brozik', ' Vaclav'],
 110: ['Brun', ' Charles'],
 111: ['Busson', ' Charles'],
 112: ['Butin', ' Ulysse'],
 113: ['Cabanel', ' Alexandre'],
 114: ['Cabanel', ' Pierre'],
 115: ['Cambon', ' Armand'],
 116: ['Camino', ' Charles'],
 117: ['Caraud', ' Joseph'],
 118: ['Carteron', ' Eugène'],
 119: ['Castres', ' Édouard'],
 120: ['Cazes', ' Romain'],
 121: ['Cellier', ' Paul'],
 122: ['Čermák', ' Jaroslav'],
 123: ['Chabry', ' Léonce'],
 124: ['Chaplin', ' Charles'],
 125: ['Charnay', ' Armand'],
 126: ['Charpentier', ' Eugène-Louis'],
 127: ['Chartran', ' Théobald'],
 128: ['Chavet', ' Victor'],
 129: ['Chazal', ' Charles-Camille'],
 130: ['Chenu', ' Fleury'],
 131: ['Chevandier de Valdrôme', ' Paul'],
 132: ['Chintreuil', ' Antoine'],
 133: ['Cibot', ' Édouard'],
 134: ['Cicéri', ' Eugène'],
 135: ['Claude', ' Jean-Maxime'],
 136: ['Clément', ' Félix'],
 137: ['Cock', ' Xavier de'],
 138: ['Cock', ' César de'],
 139: ['Coëssin de la Fosse', ' Charles-Alexandre'],
 140: ['Cogen', ' Félix'],
 141: ['Colas', ' Alphonse'],
 142: ['Colin', ' Paul'],
 143: ['Collart', ' Marie'],
 144: ['Collin', ' Raphaël'],
 145: ['Comerre', ' Léon'],
 146: ['Compte-Calix', ' François-Claudius'],
 147: ['Comte', ' Charles'],
 148: ['Coninck', ' Pierre de'],
 149: ['Constant', ' Benjamin'],
 150: ['Cormon', ' Fernand'],
 151: ['Cot', ' Pierre-Auguste'],
 152: ['Courant', ' Maurice'],
 153: ['Courbet', ' Gustave'],
 154: ['Charlot de Courcy', ' Alexandre-Frédéric de'],
 155: ['Courtat', ' Louis'],
 156: ['Courtois', ' Gustave'],
 157: ['Couturier', ' Philibert-Léon'],
 158: ['Curzon', ' Alfred de'],
 159: ['Dagnan-Bouveret', ' Pascal-Adolphe-Jean'],
 160: ['Daliphard', ' Édouard'],
 161: ['Dameron', ' Émile'],
 162: ['Damoye', ' Emmanuel'],
 163: ['Dantan', ' Édouard'],
 164: ['Dargelas', ' Henri'],
 165: ['Dauban', ' Jules-Joseph'],
 166: ['Daubigny', ' Charles-François'],
 167: ['Daubigny', ' Karl'],
 168: ['Dawant', ' Albert-Pierre'],
 169: ['La Boulaye', ' Paul de'],
 170: ['Nittis', ' Giuseppe de'],
 171: ['Defaux', ' Alexandre'],
 172: ['Dehodencq', ' Alfred'],
 173: ['Jonghe', ' Gustave de'],
 174: ['Delacroix', ' Henri-Eugène'],
 175: ['Delanoy', ' Hippolyte'],
 176: ['Delaunay', ' Jules'],
 177: ['Delobbe', ' Alfred'],
 178: ['Delort', ' Charles'],
 179: ['Demont', ' Adrien-Louis'],
 180: ['Neuville', ' Alphonse de'],
 181: ['Denneulin', ' Jules'],
 182: ['Deschamps', ' Louis'],
 183: ['Desgoffe', ' Blaise'],
 184: ['Desjobert', ' Louis-Eugène'],
 185: ['Desportes de la Fosse', ' Emma'],
 186: ['Destrem', ' Casimir'],
 187: ['Detaille', ' Édouard'],
 188: ['Devers', ' Joseph'],
 189: ['Devilly', ' Théodore'],
 190: ['Didier', ' Jules'],
 191: ['Doucet', ' Lucien'],
 192: ['Douillard', ' Alexis-Marie-Louis'],
 193: ['Dubasty', ' Adolphe-Henri'],
 194: ['Dubois', ' Paul'],
 195: ['Dubufe', ' Guillaume'],
 196: ['Duez', ' Ernest-Ange'],
 197: ['Dumas', ' Michel'],
 198: ['Dupain', ' Edmond'],
 199: ['Dupray', ' Henry-Louis'],
 200: ['Dupré', ' Victor'],
 201: ['Dupré', ' Julien'],
 202: ['Duran', ' Carolus'],
 203: ['Duran', ' Pauline'],
 204: ['Durand', ' Simon'],
 205: ['Duveau', ' Louis'],
 206: ['Duverger', ' Théophile-Emmanuel'],
 207: ['Edelfelt', ' Albert'],
 208: ['Ehrmann', ' François'],
 209: ['Escallier', ' Éléonore'],
 210: ['Faivre', ' Tony'],
 211: ['Faivre-Duffer', ' Louis'],
 212: ['Falguière', ' Alexandre'],
 213: ['Fantin-Latour', ' Henri'],
 214: ['Faruffini', ' Federico'],
 215: ['Faure', ' Eugène'],
 216: ['Favard', ' Antoine'],
 217: ['Ferrier', ' Gabriel'],
 218: ['Feyen', ' Eugène'],
 219: ['Feyen-Perrin', ' Augustin'],
 220: ['Fichel', ' Eugène'],
 221: ['Flahaut', ' Léon'],
 222: ['Flameng', ' François'],
 223: ['Fontaine', ' Edmé-Adolphe'],
 224: ['Fontenay', ' Alexis-Daligé de'],
 225: ['Fortin', ' Charles'],
 226: ['Foubert', ' Émile-Louis'],
 227: ['Foulongne', ' Alfred-Charles'],
 228: ['Frère', ' Édouard'],
 229: ['Frère', ' Théodore'],
 230: ['Fritel', ' Pierre'],
 231: ['Fromentin', ' Eugène'],
 232: ['Gaillard', ' Ferdinand'],
 233: ['Galbrund', ' Alphonse\r\nRésultats Web\r\n\r\nAlphonse-Louis'],
 234: ['Gautier', ' Étienne'],
 235: ['Gavarni', ' Pierre'],
 236: ['Geffroy', ' Edmond'],
 237: ['Gélibert', ' Jules'],
 238: ['Gendron', ' Auguste'],
 239: ['Genty', ' Emmanuel'],
 240: ['Georges-Sauvage', ' Auguste-Albert'],
 241: ['Gérôme', ' Jean-Léon'],
 242: ['Gervex', ' Henri'],
 243: ['Giacomotti', ' Félix'],
 244: ['Gide', ' Théophile'],
 245: ['Gilbert', ' Victor'],
 246: ['Ginain', ' Eugène'],
 247: ['Girard', ' Firmin'],
 248: ['Giraud', ' Victor'],
 249: ['Giron', ' Charles'],
 250: ['Gisbert', ' Antonio'],
 251: ['Glaize', ' Léon'],
 252: ['Gonzalèz', ' Juan-Antonio'],
 253: ['Gosselin', ' Charles'],
 254: ['Goubie', ' Jean-Richard'],
 255: ['Goupil', ' Jules'],
 256: ['Gratia', ' Charles-Louis'],
 257: ['Groiseilliez', ' Marcelin de'],
 258: ['Gros', ' Lucien'],
 259: ['Guay', ' Gabriel'],
 260: ['Gude', ' Hans Frederik'],
 261: ['Guérin', ' Jean-Michel-Prosper'],
 262: ['Guesnet', ' Louis'],
 263: ['Guillaumet', ' Gustave'],
 264: ['Guillemet', ' Antoine'],
 265: ['Guillemin', ' Alexandre'],
 266: ['Guillon', ' Adolphe'],
 267: ['Guillou', ' Alfred'],
 268: ['Haffner', ' Félix'],
 269: ['Hagborg', ' August'],
 270: ['Hamman', ' Édouard'],
 271: ['Hamon', ' Jean-Louis'],
 272: ['Hanoteau', ' Hector'],
 273: ['Haquette', ' Georges'],
 274: ['Hareux', ' Ernest-Victor'],
 275: ['Harpignies', ' Henri'],
 276: ['Hébert', ' Ernest'],
 277: ['Hédouin', ' Edmond'],
 278: ['Heilbuth', ' Ferdinand'],
 279: ['Henneberg', ' Rudolf'],
 280: ['Hennebicq', ' André'],
 281: ['Henner', ' Jean-Jacques'],
 282: ['Héreau', ' Jules'],
 283: ['Hermann-Léon', ' Charles'],
 284: ['Herpin', ' Léon'],
 285: ['Hillemacher', ' Ernest'],
 286: ['Hugrel', ' Pierre-Honoré'],
 287: ['Huguet', ' Victor-Pierre'],
 288: ['Humbert', ' Ferdinand'],
 289: ['Imer', ' Édouard'],
 290: ['Jacque', ' Charles-Émile'],
 291: ['Jacquemart', ' Nélie'],
 292: ['Jacquet', ' Gustave'],
 293: ['Jalabert', ' Charles'],
 294: ['Janet', ' Ange-Louis'],
 295: ['Janmot', ' Louis'],
 296: ['Japy', ' Louis'],
 297: ['Jeannin', ' Georges'],
 298: ['Jobbé-Duval', ' Félix'],
 299: ['Jongkind', ' Johan Barthold'],
 300: ['Jourdan', ' Adolphe'],
 301: ['Jourdain', ' Roger'],
 302: ['Jundt', ' Gustave'],
 303: ['Kaemmerer', ' Hendrick'],
 304: ['Klagmann', ' Henri'],
 305: ['Knaus', ' Ludwig'],
 306: ['Knyff', ' Alfred de'],
 307: ['Kreyder', ' Alexis'],
 308: ['Krug', ' Édouard'],
 309: ['Kuwasseg', ' Karl-Josef'],
 310: ['La Villette', ' Élodie'],
 311: ['Laemlein', ' Alexandre'],
 312: ['Lafond', ' Alexandre'],
 313: ['Lalanne', ' Maxime'],
 314: ['Lambert', ' Louis-Eugène'],
 315: ['Lambinet', ' Émile'],
 316: ['Lamothe', ' Louis'],
 317: ['Lanoüe', ' Félix-Hippolyte'],
 318: ['Lansyer', ' Emmanuel'],
 319: ['Lapierre', ' Louis-Émile'],
 320: ['Lapostolet', ' Charles'],
 321: ['Larcher', ' Jules'],
 322: ['Laugée', ' Désiré-François'],
 323: ['Laurens', ' Jules-Joseph-Augustin'],
 324: ['Laurens', ' Jean-Paul'],
 325: ['Lavieille', ' Eugène'],
 326: ['Layraud', ' Joseph-Fortuné'],
 327: ['Lazerges', ' Hippolyte'],
 328: ['Le Blant', ' Julien'],
 329: ['Le Gentile', ' Victor'],
 330: ['Lebel', ' Edmond'],
 331: ['Lecadre', ' Alphonse-Eugène-Félix'],
 332: ['Lechevallier-Chevignard', ' Edmond'],
 333: ['Leclaire', ' Victor'],
 334: ['Lecointe', ' Charles-Joseph'],
 335: ['Lecomte-Vernet', ' Émile'],
 336: ['Lecomte du Nouy', ' Jean-Antoine'],
 337: ['Lefebvre', ' Jules'],
 338: ['Legras', ' Auguste'],
 339: ['Legros', ' Alphonse'],
 340: ['Lehoux', ' Pierre-Adrien-Pascal'],
 341: ['Leibl', ' Wilhelm'],
 342: ['Leighton', ' Frédéric'],
 343: ['Leleux', ' Armand'],
 344: ['Leleux', ' Adolphe'],
 345: ['Leloir', ' Louis'],
 346: ['Leloir', ' Maurice'],
 347: ['Lematte', ' Fernand'],
 348: ['Lenepveu', ' Jules-Eugène'],
 349: ['Lepec', ' Charles'],
 350: ['Lepic', ' Ludovic-Napoléon'],
 351: ['Lerolle', ' Henri'],
 352: ['Leroux', ' Charles'],
 353: ['Leroux', ' Hector'],
 354: ['Leroux', ' Eugène'],
 355: ['Lévy', ' Émile'],
 356: ['Lévy', ' Henri-Léopold'],
 357: ['Lhermitte', ' Léon'],
 358: ['Lix', ' Frédéric-Théodore'],
 359: ['Lobin', ' Julien-Léopold'],
 360: ['Lobrichon', ' Timoléon'],
 361: ['Loir', ' Luigi'],
 362: ['Lottier', ' Louis'],
 363: ['Luminais', ' Évariste'],
 364: ['Machard', ' Jules'],
 365: ['Madarasz', ' Viktor von'],
 366: ['Magaud', ' Dominique-Antoine'],
 367: ['Maignan', ' Albert'],
 368: ['Maillart', ' Diogène-Ulysse-Napoléon'],
 369: ['Maillot', ' Théodore'],
 370: ['Maisiat', ' Johanny'],
 371: ['Maison', ' Pierre-Eugène'],
 372: ['Marais', ' Adolphe'],
 373: ['Marchal', ' Charles'],
 374: ['Maréchal', ' Charles-Raphaël'],
 375: ['Marquis', ' Pierre-Charles'],
 376: ['Marzocchi de Bellucci', ' Tito'],
 377: ['Masuré', ' Jules'],
 378: ['Matejko', ' Jan'],
 379: ['Mathey', ' Paul'],
 380: ['Matout', ' Louis'],
 381: ['Mazerolle', ' Joseph'],
 382: ['Médard', ' Eugène'],
 383: ['Meissonier', ' Charles'],
 384: ['Melin', ' Joseph'],
 385: ['Mélingue', ' Lucien'],
 386: ['Mengin', ' Auguste-Charles'],
 387: ['Mercadé Fàbrega', ' Benito'],
 388: ['Merino', ' Ignacio'],
 389: ['Merle', ' Hugues'],
 390: ['Merson', ' Luc-Olivier'],
 391: ['Méry', ' Alfred-Émile'],
 392: ['Mesdag', ' Hendrick-Willem'],
 393: ['Meyer', ' Alfred'],
 394: ['Meyerheim', ' Paul'],
 395: ['Meynier', ' Jules-Joseph'],
 396: ['Michel', ' Charles-Henri'],
 397: ['Michel', ' Émile'],
 398: ['Michel', ' Ernest'],
 399: ['Millet', ' Jean-François'],
 400: ['Mols', ' Robert'],
 401: ['Monchablon', ' Alphonse'],
 402: ['Monginot', ' Charles'],
 403: ['Montessuy', ' François'],
 404: ['Montfort', ' Antoine-Alphonse'],
 405: ['Monvoisin', ' Domenica'],
 406: ['Moreau', ' Gustave'],
 407: ['Moreau', ' Adrien'],
 408: ['Moreau de Tours', ' Georges'],
 409: ['Morin', ' Eugénie'],
 410: ['Morot', ' Aimé'],
 411: ['Mortemart-Boisse', ' Enguerrand de'],
 412: ['Motte', ' Henri-Paul'],
 413: ['Mouchot', ' Louis'],
 414: ['Mouillon', ' Alfred'],
 415: ['Munkacsy', ' Mihaly'],
 416: ['Muraton', ' Alphonse'],
 417: ['Muraton', ' Euphémie'],
 418: ['Mussini', ' Luigi'],
 419: ['Navlet', ' Victor'],
 420: ['Nazon', ' François-Henri'],
 421: ['Nègre', ' Charles'],
 422: ['Némoz', ' Jean-Baptiste-Augustin'],
 423: ['Noël', ' Jules'],
 424: ['Olivié', ' Léon'],
 425: ['Ordinaire', ' Marcel'],
 426: ['Pabst', ' Alfred'],
 427: ['Paris', ' Camille'],
 428: ['Parrot', ' Philippe'],
 429: ['Pasini', ' Alberto'],
 430: ['Passini', ' Ludwig'],
 431: ['Patrois', ' Isidore'],
 432: ['Pelez', ' Fernand'],
 433: ['Pelouse', ' Léon-Germain'],
 434: ['Penne', ' Olivier de'],
 435: ['Péraire', ' Emmanuel'],
 436: ['Pelez de Cordova', ' Fernand'],
 437: ['Perrault', ' Léon'],
 438: ['Perret', ' Aimé'],
 439: ['Petit', ' Savinien'],
 440: ['Petit', ' Eugène'],
 441: ['Pichon', ' Pierre-Auguste'],
 442: ['Picou', ' Henri'],
 443: ['Pille', ' Charles-Henri'],
 444: ['Pils', ' Isidore'],
 445: ['Plassan', ' Antoine'],
 446: ['Pluyette', ' Auguste-Victor'],
 447: ['Pointelin', ' Auguste'],
 448: ['Poirson', ' Maurice'],
 449: ['Poncet', ' Jean-Baptiste'],
 450: ['Debat-Ponsan', ' Édouard-Bernard'],
 451: ['Popelin', ' Claudius'],
 452: ['Bonaparte', ' Princesse Mathilde'],
 453: ['Priou', ' Louis'],
 454: ['Pron', ' Louis-Hector'],
 455: ['Protais', ' Alexandre'],
 456: ['Puvis de Chavannes', ' Pierre'],
 457: ['Quantin', ' Jules'],
 458: ['Quost', ' Ernest'],
 459: ['Ranvier', ' Victor'],
 460: ['Rapin', ' Alexandre'],
 461: ['Ravaut', ' René-Henri'],
 462: ['Régamey', ' Guillaume'],
 463: ['Regnault', ' Henri'],
 464: ['Reignier', ' Jean'],
 465: ['Renard', ' Émile'],
 466: ['Renouf', ' Émile'],
 467: ['Reynaud', ' François'],
 468: ['Ribot', ' Théodule'],
 469: ['Ricard', ' Gustave'],
 470: ['Richomme', ' Jules'],
 471: ['Richter', ' Gustav'],
 472: ['Riesener', ' Léon'],
 473: ['Rigo', ' Jules'],
 474: ['Rivey', ' Arsène'],
 475: ['Rivoulon', ' Antoine'],
 476: ['Rixens', ' Jean-André'],
 477: ['Robert', ' Léo-Paul'],
 478: ['Robert-Fleury', ' Tony'],
 479: ['Robie', ' Jean'],
 480: ['Robinet', ' Paul'],
 481: ['Roche', ' Alexandre'],
 482: ['Roehn', ' Alphonse-Jean'],
 483: ['Rodakowski', ' Henryk'],
 484: ['Rodriguez Barcaza', ' Ramón'],
 485: ['Roll', ' Alfred'],
 486: ['Romagny', ' Charles-Ernest'],
 487: ['Ronot', ' Charles'],
 488: ['Rosier', ' Amédée'],
 489: ['Rouffio', ' Paul'],
 490: ['Rougeron', ' Jules-James'],
 491: ['Rousseau', ' Théodore'],
 492: ['Roux', ' Louis'],
 493: ['Roybet', ' Ferdinand'],
 494: ['Rozier', ' Dominique'],
 495: ['Saal', ' Georg'],
 496: ['Sain', ' Édouard'],
 497: ['Saintin', ' Jules'],
 498: ['Saint-Pierre', ' Gaston'],
 499: ['Salmson', ' Hugo'],
 500: ['Sarazin de Belmont', ' Louise-Joséphine'],
 501: ['Sautai', ' Paul-Émile'],
 502: ['Schenck', ' August'],
 503: ['Schneider', ' Félicie'],
 504: ['Schreyer', ' Adolf'],
 505: ['Schutzenberger', ' Louis'],
 506: ['Ségé', ' Alexandre'],
 507: ['Sellier', ' Charles'],
 508: ['Servin', ' Amédée'],
 509: ['Sohn', ' Wilhelm'],
 510: ['Sorieul', ' Jean'],
 511: ['Soyer', ' Paul'],
 512: ['Stevens', ' Joseph'],
 513: ['Stevens', ' Alfred'],
 514: ['Sturel', ' Octavie'],
 515: ['Sylvestre', ' Joseph'],
 516: ['Tabar', ' Léopold'],
 517: ['Tassaert', ' Octave'],
 518: ['Thévenin', ' Rosalie'],
 519: ['Thirion', ' Eugène'],
 520: ['Timbal', ' Louis-Charles'],
 521: ['Tissier', ' Ange'],
 522: ['Tissot', ' James'],
 523: ['Torrents', ' Stanislas'],
 524: ['Toudouze', ' Édouard'],
 525: ['Toulmouche', ' Auguste'],
 526: ['Tourny', ' Joseph'],
 527: ['Trayer', ' Jean-Baptiste-Jules'],
 528: ['Ulmann', ' Benjamin'],
 529: ['Valadon', ' Jules-Emmanuel'],
 530: ['Haanen', ' Cecil-Charles van'],
 531: ['Van Hove', ' Victor'],
 532: ['Marcke', ' Émile van'],
 533: ['Moer', ' Jean-Baptiste van'],
 534: ['Muyden', ' Alfred van'],
 535: ['Vannutelli', ' Scipione'],
 536: ['Vauchelet', ' Théophile'],
 537: ['Vautier', ' Benjamin'],
 538: ['Vayson', ' Paul'],
 539: ['Vély', ' Anatole'],
 540: ['Verlat', ' Charles'],
 541: ['Vernier', ' Émile-Louis'],
 542: ['Verwée', ' Alfred'],
 543: ['Veyrassat', ' Jules Jacques'],
 544: ['Vibert', ' Jehan-Georges'],
 545: ['Vignon', ' Jules'],
 546: ['Viollet-le-Duc', ' Adolphe-Étienne'],
 547: ['Voillemot', ' Charles'],
 548: ['Vollon', ' Antoine'],
 549: ['Heyden', ' August von'],
 550: ['Thoren', ' Otto von'],
 551: ['Vuillefroy', ' Félix de'],
 552: ['Wagrez', ' Jacques'],
 553: ['Wahlberg', ' Alfred'],
 554: ['Watelin', ' Louis-Victor'],
 555: ['Wauters', ' Émile'],
 556: ['Weber', ' Otto'],
 557: ['Weber', ' Adolphe'],
 558: ['Weerts', ' Jean-Joseph'],
 559: ['Weisz', ' Adolphe'],
 560: ['Wencker', ' Joseph'],
 561: ['Winne', ' Liévin de'],
 562: ['Worms', ' Jules'],
 563: ['Wylie', ' Robert'],
 564: ['Yon', ' Edmond'],
 565: ['Yvon', ' Adolphe'],
 566: ['Zac', ' Tony'],
 567: ['Zamacois', ' Eduardo'],
 568: ['Ziem', ' Félix'],
 569: ['Zo', ' Achille'],
 570: ['Zuber', ' Jean-Henri'],
 571: ['Achard', ' Jean-Alexis'],
 572: ['Apoil', ' Estelle'],
 573: ['Baron', ' Henri'],
 574: ['Béranger', ' Jean-Baptiste'],
 575: ['Herbelin', ' Mathilde'],
 576: ['Bianchi', ' Nina'],
 577: ['Biard', ' François-Auguste'],
 578: ['Bida', ' Alexandre'],
 579: ['Bonheur', ' Rosa'],
 580: ['Bouquet', ' Michel'],
 581: ['Brune', ' Adolphe'],
 582: ['Buttura', ' Eugène-Ferdinand'],
 583: ['Chacaton', ' Henri de'],
 584: ['Coignard', ' Louis'],
 585: ['Coignet', ' Jules'],
 586: ['Corot', ' Camille'],
 587: ['Dauzats', ' Adrien'],
 588: ['David', ' Maxime'],
 589: ['Dedreux', ' Alfred'],
 590: ['Debon', ' Hippolyte'],
 591: ['Delacroix', ' Eugène'],
 592: ['Desgoffe', ' Alexandre'],
 593: ['Díaz de la Peña', ' Narcisse'],
 594: ['Dien', ' Claude-Marie-François'],
 595: ['Duvaux', ' Antoine-Jules'],
 596: ['Fauvelet', ' Jean'],
 597: ['Flandrin', ' Hippolyte'],
 598: ['Flandrin', ' Paul'],
 599: ['Français', ' François-Louis'],
 600: ['Gigoux', ' Jean'],
 601: ['Giroux', ' Achille'],
 602: ['Glaize', ' Auguste'],
 603: ['Grönland', ' Theude'],
 604: ['Gudin', ' Théodore'],
 605: ['Hesse', ' Alexandre'],
 606: ['Hildebrandt', ' Frédéric'],
 607: ['Hoguet', ' Charles'],
 608: ['Huet', ' Paul'],
 609: ['Jadin', ' Godefroy'],
 610: ['Johannot', ' Tony'],
 611: ['Joyant', ' Jules'],
 612: ['Lacroix', ' Gaspard'],
 613: ['Landelle', ' Charles'],
 614: ['Laurent', ' Marie Pauline'],
 615: ['Lepoittevin', ' Eugène'],
 616: ['Lehmann', ' Henri'],
 617: ['Longchamp', ' Henriette de'],
 618: ['Masquelier', ' Claude-Louis'],
 619: ['Meissonier', ' Ernest'],
 620: ['Morel-Fatio', ' Léon'],
 621: ['Müller', ' Charles Louis'],
 622: ['Nanteuil', ' Célestin'],
 623: ['Palizzi', ' Giuseppe'],
 624: ['Passot', ' Gabriel-Aristide'],
 625: ["Penguilly-L'Haridon", ' Octave'],
 626: ['Pignerolle', ' Charles-Marcel de'],
 627: ['Pilliard', ' Jacques'],
 628: ['Place', ' Henri'],
 629: ['Pommayrac', ' Pierre-Paul de'],
 630: ['Richaud', ' Joseph'],
 631: ['Rousseau', ' Philippe'],
 632: ['Rudder', ' Louis-Henri de'],
 633: ['Sebron', ' Hippolyte'],
 634: ['Steinheil', ' Louis'],
 635: ['Thuillier', ' Pierre'],
 636: ['Troyon', ' Constant'],
 637: ['Verdier', ' Marcel'],
 638: ['Vetter', ' Hégésippe-Jean'],
 639: ['Ziegler', ' Jules'],
 640: ['Vidal', ' Vincent'],
 641: ['Robert', ' Victor'],
 642: ['Dubois', ' Hippolyte'],
 643: ['Cazin', ' Jean-Charles'],
 644: ['Bénouville', ' Achille'],
 645: ['Couder', ' Auguste'],
 646: ['Bellel', ' Jean-Joseph'],
 647: ['Mirbel', ' Lizinska de'],
 648: ['Gallait', ' Louis'],
 649: ['Guignet', ' Adrien'],
 650: ['Malathier', ' André'],
 651: ['Jadelot', ' Sophie']}

In [22]:
for index, row in SalonData2.iterrows():
    if ',' in SalonData2.loc[index,'Exposant']:
        a = SalonData2.loc[index,'Exposant'].split(",")
        SalonData2.loc[index,'First'] = a[1]
        SalonData2.loc[index,'Last'] = a[0]
    else:
        SalonData2.loc[index,'Last']=SalonData2.loc[index,'Exposant']

KeyboardInterrupt:

In [77]:
for index, row in SalonData2.iterrows():
    a= row['Exposant']
    if a in NameDict.keys():
        SalonData2.at[index,'UniqueKey'] = NameDict[a]
        SalonData2.at[index,'Match'] = a
        SalonData2.at[index,'Certainty'] = 100

In [78]:
SalonData2.groupby('Certainty').count()

           Exposant  Titre  Année  Salon  UniqueKey  Match  First   Last
Certainty
100            9056   9056   9056   9056       9056   9056   9056   9056
              56388  56388  56388  56388      56388  56388  55845  56388

In [81]:
for index, row in SalonData2.iterrows():
    
# search for fuzzy match >90:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 90 and fuzz.token_sort_ratio(row['First'],value[1]) > 90:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "90-90"
                break

In [82]:
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 90 and fuzz.token_sort_ratio(row['First'],value[1]) > 85:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "90-85"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 90 and fuzz.token_sort_ratio(row['First'],value[1]) > 80:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "90-80"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 90 and fuzz.token_sort_ratio(row['First'],value[1]) > 75:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "90-75"
                break

for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 90 and fuzz.token_sort_ratio(row['First'],value[1]) > 70:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "90-70"
                break

In [83]:
SalonData2.groupby('Certainty').count()

           Exposant  Titre  Année  Salon  UniqueKey  Match  First   Last
Certainty
100            9056   9056   9056   9056       9056   9056   9056   9056
              53477  53477  53477  53477      53477  53477  52934  53477
90-70           544    544    544    544        544    544    544    544
90-75           340    340    340    340        340    340    340    340
90-80           137    137    137    137        137    137    137    137
90-85           285    285    285    285        285    285    285    285
90-90          1605   1605   1605   1605       1605   1605   1605   1605

In [107]:
Export = SalonData2[(SalonData2['UniqueKey']!='')][['UniqueKey','Match','Exposant','Certainty']].drop_duplicates(subset='Exposant')

In [108]:
Export.to_csv('Other_files/MatchDictionary.csv')

In [101]:
544+340+137+285+1605

2911

In [123]:
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 85 and fuzz.token_sort_ratio(row['First'],value[1]) > 90:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "85-90"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 85 and fuzz.token_sort_ratio(row['First'],value[1]) > 85:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "85-85"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 85 and fuzz.token_sort_ratio(row['First'],value[1]) > 80:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "85-80"
                break

for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 85 and fuzz.token_sort_ratio(row['First'],value[1]) > 75:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "85-75"
                break

In [106]:
SalonData2.groupby('Certainty').count()

           Exposant  Titre  Année  Salon  UniqueKey  Match  First   Last
Certainty
100            9056   9056   9056   9056       9056   9056   9056   9056
              53209  53209  53209  53209      53209  53209  52666  53209
85-75            16     16     16     16         16     16     16     16
85-80             5      5      5      5          5      5      5      5
85-85            20     20     20     20         20     20     20     20
85-90           227    227    227    227        227    227    227    227
90-70           544    544    544    544        544    544    544    544
90-75           340    340    340    340        340    340    340    340
90-80           137    137    137    137        137    137    137    137
90-85           285    285    285    285        285    285    285    285
90-90          1605   1605   1605   1605       1605   1605   1605   1605

In [124]:
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 80 and fuzz.token_sort_ratio(row['First'],value[1]) > 90:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "80-90"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 80 and fuzz.token_sort_ratio(row['First'],value[1]) > 85:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "80-85"
                break
for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 80 and fuzz.token_sort_ratio(row['First'],value[1]) > 80:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "80-80"
                break

for index, row in SalonData2.iterrows(): 
# search for fuzzy match first name >80:
    if row['UniqueKey']=='': 
        for key, value in UKDict2.items():
            if fuzz.token_sort_ratio(row['Last'],value[0]) > 80 and fuzz.token_sort_ratio(row['First'],value[1]) > 75:
                SalonData2.at[index,'UniqueKey'] = key
                SalonData2.at[index,'Match'] = UKDict[key] 
                SalonData2.at[index,'Certainty'] = "80-75"
                break

In [132]:
Export = SalonData2.groupby(['Certainty','Exposant','Match']).Titre.count()

In [133]:
Export.to_csv('Other_files/MatchDictionary.csv')

In [41]:
matches.head()

  Certainty             Exposant                Match  Titre
0       100  Achard, Jean-Alexis  Achard, Jean-Alexis     11
1       100    Achenbach, Oswald    Achenbach, Oswald     13
2       100    Anastasi, Auguste    Anastasi, Auguste     59
3       100        Anker, Albert        Anker, Albert     32
4       100   Antigna, Alexandre   Antigna, Alexandre     17

In [54]:
SalonData2=SalonData2.merge(matches,how='left',on='Exposant')

In [55]:
SalonData2.head()

,Exposant,Titre_x,Année,Salon,UniqueKey,Match_x,Certainty_x,Certainty_y,Match_y,Titre_y
0,"Aarestrup, Mlle Marie","Portrait de Mlle Nilsson, artiste du Théâtre-L...",1866,Salon de 1866,,,,NaN,NaN,1
1,"Aaron, Michel-Joseph",*Giroflées,1878,Salon de 1878,,,,NaN,NaN,1
2,"Abbat, Auguste",Pauvre hirondelle,1880,Salon de 1880,,,,NaN,NaN,1
3,"Abbema, Mlle Louise",*La duchesse Josiane,1875,Salon de 1875,,,,NaN,NaN,9
4,"Abbema, Mlle Louise",*Le déjeûner dans la serre,1877,Salon de 1877,,,,NaN,NaN,2

In [45]:
SalonData2.groupby('Certainty_y').count()

,Exposant,Titre_x,Année,Salon,UniqueKey,Match_x,Certainty_x,Match_y,Titre_y
Certainty_y,,,,,,,,,
100,9056,9056,9056,9056,9056,9056,9056,9056,9056
80-75,32,32,32,32,32,32,32,32,32
85-75,16,16,16,16,16,16,16,16,16
85-80,6,6,6,6,6,6,6,6,6
85-85,20,20,20,20,20,20,20,20,20
85-90,252,252,252,252,252,252,252,252,252
90-70,544,544,544,544,544,544,544,544,544
90-75,340,340,340,340,340,340,340,340,340
90-80,137,137,137,137,137,137,137,137,137
90-85,285,285,285,285,285,285,285,285,285
90-90,1605,1605,1605,1605,1605,1605,1605,1605,1605

In [56]:
SalonData2.rename(columns={'Titre_x':'Titre','Match_y':'Match','Certainty_y':'Certainty'}, inplace=True)

In [49]:
SalonData2.head()

,Exposant,Titre,Année,Salon,UniqueKey,Match,Certainty
0,"Aarestrup, Mlle Marie","Portrait de Mlle Nilsson, artiste du Théâtre-L...",1866,Salon de 1866,,,NaN
1,"Aaron, Michel-Joseph",*Giroflées,1878,Salon de 1878,,,NaN
2,"Abbat, Auguste",Pauvre hirondelle,1880,Salon de 1880,,,NaN
3,"Abbema, Mlle Louise",*La duchesse Josiane,1875,Salon de 1875,,,NaN
4,"Abbema, Mlle Louise",*Le déjeûner dans la serre,1877,Salon de 1877,,,NaN

In [57]:
SalonData2=SalonData2.drop(['Certainty_x','Match_x','Titre_y'],axis=1)

In [61]:
SalonData2['UniqueKey']= SalonData2['Match'].map(NameDict)

In [64]:
SalonData2.groupby(['Exposant','Match','UniqueKey']).count()

,,,Titre,Année,Salon,Certainty
Exposant,Match,UniqueKey,,,,
"Achard, Jean-Alexis","Achard, Jean-Alexis",571.0,11,11,11,11
"Achenbach, Osvald","Achenbach, Oswald",33.0,2,2,2,2
"Achenbach, Oswald","Achenbach, Oswald",33.0,13,13,13,13
"Alma-Tadema, Lawrence","Alma Tadema, Lawrence",35.0,1,1,1,1
"Alma-Tadema, Lawrence","Alma Tadema, Lawrence",35.0,1,1,1,1
...,...,...,...,...,...,...
"Ziem, Félix","Ziem, Félix",568.0,37,37,37,37
"Ziégler, Jules","Ziegler, Jules",639.0,3,3,3,3
"Zo, Achille","Zo, Achille",569.0,21,21,21,21
"Zuber, Jean-Henri","Zuber, Jean-Henri",570.0,16,16,16,16
"Zuber, Jean-Henri","Zuber, Jean-Henri",570.0,2,2,2,2

In [65]:
SalonData2.to_csv('Other_files/SalonDatawithKeys.csv')